/* Start Main Variables */

:root {
    --background: #091921;
    --background_low: rgba(9, 25, 33, 0.8);
    --text: #00fff1;
}

/* End Main Variables */

/* Start Static */

* {
    margin: 0;
    padding: 0;
}

/* End Static */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: var(--background);
}

.container {
    padding: 10px;
    min-height: 90vh;
    margin: 3vh auto;
    box-shadow: inset 2px 2px 5px var(--text),
        inset -2px -2px 5px var(--text);
    border-radius: 7px;
}

.title {
    margin: 20px 0;
    font-size: 64px;
    font-weight: bolder;
    color: var(--text);
    opacity: 0.9;
}

.drum {
    width: 150px;
    height: 150px;
    background-color: var(--background);
    color: var(--text);
    font-size: 48px;
    font-weight: bold;
    border: none;
    outline: none;
    margin: 10px;
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
        1px 1px 3px rgba(0, 0, 0, 0.8);
    border-radius: 15px;
}

.w,
.l,
.d {
    border-radius: 50%;
}

#volume-slider {
    height: 7px;
    width: 200px;
    margin-left: 10px;
    appearance: none;
    outline: none;
    background-color: var(--text);
    border-radius: 7px;
}

.volume-control {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#volume-slider::-webkit-slider-thumb {
    appearance: none;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: var(--text);
    cursor: pointer;
}

i {
    color: var(--text);
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
        1px 1px 3px rgba(0, 0, 0, 0.8);
    padding: 10px;
    border-radius: 50%;
}

.util-buttons {
    margin-top: 40px;
}

.util-buttons>button {
    height: 50px;
    width: 200px;
    font-family: sans-serif;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--background);
    color: var(--text);
    box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
        1px 1px 3px rgba(0, 0, 0, 0.8);
    margin: 10px 4px;
    cursor: pointer;
}

#util-button-theme {
    color: var(--background);
    background-color: var(--text);
}

.pressed {
    opacity: 0.5;
    box-shadow: -1px -1px 3px var(--background);
}

.auto-music-on,
.change-theme {
    box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.1),
        inset 1px 1px 3px rgba(0, 0, 0, 0.8) !important;
}